@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #f6e8d7;
  color: #333;
}

.center .leg {
  position: absolute;
  top: 0px;
  left: 147px;
  width: 151px;
  height: 245px;
  transform-origin: 50% 0;
}
.center .shoe {
  position: absolute;
  width: 9.5em;
  height: 8em;
  left: 0;
  bottom: 0.25em;
  background: url("https://100dayscss.com/codepen/doc-martens.svg") center center no-repeat;
  transform-origin: 0 95%;
}
.center .left-leg {
  -webkit-animation: swing 2s ease-in-out infinite;
          animation: swing 2s ease-in-out infinite;
}
.center .left-leg .shoe {
  -webkit-animation: shoe-turn 2s ease-in-out infinite;
          animation: shoe-turn 2s ease-in-out infinite;
}
.center .right-leg {
  -webkit-animation: swing 2s ease-in-out 1s infinite;
          animation: swing 2s ease-in-out 1s infinite;
}
.center .right-leg .shoe {
  -webkit-animation: shoe-turn 2s ease-in-out 1s infinite;
          animation: shoe-turn 2s ease-in-out 1s infinite;
}
@-webkit-keyframes swing {
  0%, 100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
@keyframes swing {
  0%, 100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
@-webkit-keyframes shoe-turn {
  0%, 100% {
    transform: rotate(-10deg) translateY(-5px);
  }
  25% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(10deg) translateY(-10px);
  }
  75% {
    transform: rotate(0deg) translateY(-30px);
  }
}
@keyframes shoe-turn {
  0%, 100% {
    transform: rotate(-10deg) translateY(-5px);
  }
  25% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(10deg) translateY(-10px);
  }
  75% {
    transform: rotate(0deg) translateY(-30px);
  }
}
.center .floor {
  position: absolute;
  bottom: 0;
  height: 10em;
  width: 100%;
  background: #232323;
}